################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SubtitleNudger/bin/Debug/net8.0-windows
/SubtitleNudger/obj
/SubtitleNudger/SubtitleNudger.csproj.user
/SubtitleNudger/bin/Release/net8.0-windows
/SubtitleNudger/Properties/PublishProfiles
